@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #001019;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #066a79;
  border-radius: 10px;
  border: 2px solid #001019;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #4cc2cd;
}